<html>
    <head>
        {% if title %}
        <title>{{ title }} - Coder</title>
        {% else %}
        <title>Simple web Api for setting thresholds and dynamic code editing</title>
        {% endif %}
    
    <style>
    textarea#code {
        width: 375px;
        height: 150px;
        display: block;
        }
</style>

    <script>
    function    sendValues(){
        console.log('I am alive');

    var xhr = new XMLHttpRequest();
var url = "/submit";
xhr.open("POST", url, true);
xhr.setRequestHeader("Content-Type", "application/json");
xhr.onreadystatechange = function () {
    if (xhr.readyState === 4 && xhr.status === 200) {
        var json = JSON.parse(xhr.responseText);
        console.log(json.email + ", " + json.password);
    }
};
    
    object = {};
    tags = document.getElementsByClassName('tags');
    for(var key in tags) {
           
            object[tags[key].id] = tags[key].value
            // var hiddenField = document.createElement("input");
            // hiddenField.setAttribute("name",  tags[key].id);
            // hiddenField.setAttribute("value", tags[key].value);
    }
            // form.appendChild(hiddenField);
    var data = JSON.stringify(object);
    xhr.send(data);


    // method =  "post"; // Set method to post by default if not specified.

    // // The rest of this code assumes you are not using a library.
    // // It can be made less wordy if you use one.
    // var form = document.createElement("form");
    // form.setAttribute("method", method);
    // form.setAttribute("action", '/submit');
    
    // tags = document.getElementsByClassName('tags');
    // for(var key in tags) {
           
    //         var hiddenField = document.createElement("input");
    //         hiddenField.setAttribute("name",  tags[key].id);
    //         hiddenField.setAttribute("value", tags[key].value);

    //         form.appendChild(hiddenField);
        
    // }
    // document.body.appendChild(form);
    // form.submit();

    // console.log('form_sented');
}




    </script>

    </head>
    <body>
        <div>
            Microblog:
            <a href="{{ url_for('index') }}">Thresholds</a>
            <a href="{{ url_for('login') }}">Code Editor</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
