{% extends "base.html" %}

{% block content %}

<<<<<<< HEAD
		<form action="" method="post">
        {{ form.hidden_tag() }}
        {% for post in posts %}
    		<div><p>{{ post.author.username }} says: <b>{{ post.body }}</b></p></div>
    	{% endfor %}
<!--         <p>
            {{ form.code.label }}<br>
            {{ form.code(size=120) }}<br>
            {% for error in form.code.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
 -->       
        <p>{{ form.submit() }}</p>



    </form>
    <h1>Hi, {{ user.username }}!</h1>
=======

    <h1>Threshold values</h1>
		

        {% for t in thresholds %}
    		<div><p>{{ t.tag }}: <input type=text id='{{ t.tag }}' value='{{t.value}}' class='tags' />  </p></div>
    	{% endfor %}
    
        <input type=button value='Submit values' id='submit_' onclick="sendValues()"  />


    
>>>>>>> 5df555a9c0d2e4eaa895b1c4b498bbe92f57e336
    
{% endblock %}
